body {
    background-attachment: fixed;
}

section {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top:  4em;
}

.sectionOne {
    
}

.sectionTwo {
    background-image: url(../src/IdependenciaDoBrasil.png);
    background-size: 100vw;
    background-attachment: fixed;
}

.sectionThree {
    background-image: url(../src/GolpeDaRepublica.png);
    background-size: 100vw;
    background-attachment: fixed;
}
